@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Roboto:wght@400;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
font-size: 10px;
scroll-behavior: smooth;
}
body{
  font-family: 'Bacasime Antique', serif;
}

nav{
  padding: 1.6rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-image: linear-gradient(#eeaeca,#94bbe9); */
  /* position: fixed;
  background-color: #eee;
  box-shadow:0 1px 16px 0 #d8d3d3; */
  z-index: 9999;
  overflow: hidden;
  border-radius: 5px;
}

.nav-logo{
  font-size: 2.6rem;
  font-weight: 800;
  cursor: pointer;
  color: #0d213f;
  text-transform: uppercase;
  font-family: 'Belanosima', sans-serif;

}
.nav-logo::first-letter{
  color: red;
}



.nav-logo span{
  color: red;
}


.nav-link{
  font-size: 3.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-family: 'Bacasime Antique', serif;
  font-weight: 700;
}

.link a{
  padding: 0 1.6rem;
  color: #0d213f;
  transition: all 0.3s;
}

.link a:hover {
  color: #3685fb;
}

.btn{
  padding: 1.2rem 3.2rem;
  outline: none;
  border: none;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #0d213f;
  border-radius: 8rem;
  cursor: pointer;
  transition: all 0.4s;
}
.btn:hover{
  background-color: #214479;
  /* padding: 1.8rem 4rem; */
}